@charset "UTF-8";
/* FONTES - CORES*/
/* RESET - CONFIGURAÇÃO */
/* line 12, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/main.scss */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* line 18, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/main.scss */
html {
  scroll-behavior: smooth;
}

/* line 22, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/main.scss */
img {
  width: 100%;
  height: auto;
}

/* line 27, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/main.scss */
a {
  text-decoration: none;
}

/* line 31, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/main.scss */
ul, li {
  list-style: none;
}

/* MIXINS */
/****** RESPONSIVIDADE ******/
/* PÁGINA - ARQUITETURA */
/* line 1, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_header.scss */
.header {
  background-color: #042A8F;
  padding-bottom: 2rem;
}

/* line 19, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_header.scss */
.header .logo {
  width: 400px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

@media (max-width: 480px) {
  /* line 19, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_header.scss */
  .header .logo {
    width: 18rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  /* line 19, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_header.scss */
  .header .logo {
    width: 24rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
  }
}

@media (min-width: 768px) and (max-width: 1280px) {
  /* line 19, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_header.scss */
  .header .logo {
    padding-bottom: 2rem;
  }
}

@media (max-width: 480px) {
  /* line 49, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_header.scss */
  .header .menu__mobile {
    margin-top: 1.5rem;
  }
}

/* line 69, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_header.scss */
.header .icone__mobile {
  width: 60px;
  background-color: #72CAE1;
}

@media (max-width: 480px) {
  /* line 69, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_header.scss */
  .header .icone__mobile {
    width: 50px;
    background: rgba(0, 0, 0, 0.1);
    background-color: #72CAE1;
  }
}

/* line 86, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_header.scss */
.header .nav {
  margin-top: 4rem;
}

@media (max-width: 480px) {
  /* line 86, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_header.scss */
  .header .nav {
    background-color: #72CAE1;
    width: 55%;
    padding: .5rem;
    border-radius: 6px;
    box-shadow: 1px 1px 4px 5px #fff;
    opacity: 1;
    margin-top: 1rem;
    animation: show 2s;
  }
}

@keyframes show {
  from {
    opacity: 0;
    left: -40px;
  }
  to {
    opacity: 1;
    left: 0px;
  }
}

/* line 113, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_header.scss */
.header .nav.ativo {
  opacity: 0;
}

/* line 117, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_header.scss */
.header .nav__bloco {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

@media (max-width: 480px) {
  /* line 117, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_header.scss */
  .header .nav__bloco {
    gap: .5rem;
    display: grid;
    grid-template-columns: 1fr;
    padding-left: 1rem;
  }
}

/* line 133, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_header.scss */
.header .nav__link {
  display: flex;
  align-items: center;
  gap: .1rem;
  box-shadow: 0px 1px 10px 1px #fff;
  padding: .2rem .4rem;
  border-radius: 8px;
}

/* line 141, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_header.scss */
.header .nav__link:hover {
  background-color: #fff;
  transition: all .8s;
}

/* line 146, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_header.scss */
.header .nav__link:hover .nav__item {
  color: #000;
}

/* line 150, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_header.scss */
.header .nav__link:hover .nav__icone {
  color: #000;
}

@media (max-width: 480px) {
  /* line 133, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_header.scss */
  .header .nav__link {
    margin-bottom: .7rem;
    width: 150px;
    box-shadow: 0px 1px 10px 1px #000;
  }
}

/* line 162, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_header.scss */
.header .nav__icone {
  color: #fff;
  font-size: 1.3rem;
}

@media (max-width: 480px) {
  /* line 162, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_header.scss */
  .header .nav__icone {
    font-size: 1.4rem;
    color: #000;
  }
}

/* line 172, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_header.scss */
.header .nav__item {
  color: #fff;
  font-family: "Gurajada", serif;
  font-size: 2rem;
}

@media (max-width: 480px) {
  /* line 172, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_header.scss */
  .header .nav__item {
    font-size: 1.4rem;
    color: #000;
  }
}

/* line 1, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_slider-promo.scss */
.slider__promo {
  height: 100vh;
  position: relative;
  background-image: url("../img/background-section.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 480px) {
  /* line 1, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_slider-promo.scss */
  .slider__promo {
    height: 30vh;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  /* line 1, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_slider-promo.scss */
  .slider__promo {
    height: 60vh;
  }
}

@media (min-width: 768px) and (max-width: 1280px) {
  /* line 1, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_slider-promo.scss */
  .slider__promo {
    height: 90vh;
  }
}

/* line 22, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_slider-promo.scss */
.slider__promo .slide {
  height: 100vh;
  padding: 1rem;
  position: absolute;
  opacity: 0;
  transition: opacity 800ms;
}

@media (max-width: 480px) {
  /* line 22, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_slider-promo.scss */
  .slider__promo .slide {
    height: 30vh;
    padding: .3rem;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  /* line 22, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_slider-promo.scss */
  .slider__promo .slide {
    height: 60vh;
  }
}

@media (min-width: 768px) and (max-width: 1280px) {
  /* line 22, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_slider-promo.scss */
  .slider__promo .slide {
    height: 90vh;
  }
}

/* line 43, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_slider-promo.scss */
.slider__promo .selected {
  opacity: 1;
}

/* line 1, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_promocao.scss */
.promocao {
  background-image: url("../img/background-section.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 4rem;
}

/* line 8, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_promocao.scss */
.promocao .promo__titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  background-color: #042A8F;
  padding: 1rem;
}

@media (max-width: 480px) {
  /* line 8, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_promocao.scss */
  .promocao .promo__titulo {
    gap: 1rem;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  /* line 8, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_promocao.scss */
  .promocao .promo__titulo {
    gap: 2rem;
  }
}

/* line 21, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_promocao.scss */
.promocao .img__titulo {
  width: 12.5rem;
}

@media (max-width: 480px) {
  /* line 21, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_promocao.scss */
  .promocao .img__titulo {
    width: 8rem;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  /* line 21, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_promocao.scss */
  .promocao .img__titulo {
    width: 10rem;
  }
}

/* line 33, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_promocao.scss */
.promocao .titulo {
  color: #fff;
  font-size: 3rem;
  font-family: "Marcellus SC", serif;
}

@media (max-width: 480px) {
  /* line 33, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_promocao.scss */
  .promocao .titulo {
    font-size: 1.5rem;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  /* line 33, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_promocao.scss */
  .promocao .titulo {
    font-size: 2rem;
  }
}

/* line 47, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_promocao.scss */
.promocao .card__itens {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  backdrop-filter: blur(1px);
}

/* line 57, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_promocao.scss */
.promocao .card {
  text-align: center;
  padding: 1rem;
  box-shadow: 2px 4px 10px #fff;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 6px;
  width: 300px;
  position: relative;
}

/* line 62, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_promocao.scss */
.promocao .card__etiqueta__promo {
  background-color: #C33C54;
  font-family: "Thasadith", sans-serif;
  position: absolute;
  top: 0;
  left: -15px;
  padding: .5rem;
  width: 100px;
  color: #fff;
  border-radius: 4px;
  border: 1px solid #000;
  transform: rotateZ(-25deg);
  text-transform: uppercase;
}

/* line 77, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_promocao.scss */
.promocao .card__img {
  width: 180px;
}

/* line 81, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_promocao.scss */
.promocao .card__desc {
  font-family: "Marcellus SC", serif;
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}

/* line 87, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_promocao.scss */
.promocao .card__peso {
  font-family: "Marcellus SC", serif;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

/* line 93, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_promocao.scss */
.promocao .card__preco {
  font-family: "Marcellus SC", serif;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

/* line 100, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_promocao.scss */
.promocao .preco__strong {
  font-family: "Thasadith", sans-serif;
  font-weight: bold;
  background-color: #042A8F;
  box-shadow: 2px 4px 10px #000;
  padding: 0.5rem;
  color: #fff;
  border-radius: 4px;
  font-size: 1.4rem;
}

/* line 1, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_alimentos.scss */
.alimentos {
  background-image: url("../img/background-section.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /***** SESSÂO ARROZ *****/
  /***** SESSÂO FEIJÃO *****/
  /***** SESSÂO BISCOITOS *****/
  /***** SESSÂO FRUTAS *****/
  /***** SESSÂO ENLATADOS *****/
  /***** SWIPER CONFIG *****/
}

/* line 7, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_alimentos.scss */
.alimentos .js-conteudo-alimentos {
  display: none;
}

/* line 11, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_alimentos.scss */
.alimentos .js-conteudo-alimentos.ativo {
  display: block;
  animation: show .5s forwards;
}

@keyframes show {
  from {
    opacity: 0;
    transform: translate3d(-50px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

/* line 27, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_alimentos.scss */
.alimentos .alimentos__titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  background-color: #042A8F;
  padding: 1rem;
}

@media (max-width: 480px) {
  /* line 27, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_alimentos.scss */
  .alimentos .alimentos__titulo {
    gap: 1rem;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  /* line 27, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_alimentos.scss */
  .alimentos .alimentos__titulo {
    gap: 1.4rem;
  }
}

/* line 39, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_alimentos.scss */
.alimentos .img__alimentos {
  width: 12.5rem;
}

@media (max-width: 480px) {
  /* line 39, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_alimentos.scss */
  .alimentos .img__alimentos {
    width: 8rem;
  }
}

/* line 47, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_alimentos.scss */
.alimentos .titulo {
  font-family: "Marcellus SC", serif;
  font-size: 4rem;
  color: #fff;
  text-align: center;
}

@media (max-width: 480px) {
  /* line 47, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_alimentos.scss */
  .alimentos .titulo {
    font-size: 2rem;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  /* line 47, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_alimentos.scss */
  .alimentos .titulo {
    font-size: 2.8rem;
  }
}

/* line 62, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_alimentos.scss */
.alimentos .menu__alimentos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  background-color: #042A8F;
  padding: 2rem 0rem;
}

@media (max-width: 480px) {
  /* line 62, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_alimentos.scss */
  .alimentos .menu__alimentos {
    gap: 1rem;
    padding: 2rem 0.5rem;
  }
}

/* line 78, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_alimentos.scss */
.alimentos .menu__item {
  color: #fff;
  font-family: "Marcellus SC", serif;
  font-size: 1.7rem;
  background-color: #C33C54;
  padding: .5rem;
  border-radius: 4px;
  box-shadow: 1px 1px 10px 1px #fff;
  cursor: pointer;
}

@media (max-width: 480px) {
  /* line 78, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_alimentos.scss */
  .alimentos .menu__item {
    font-size: 1.2rem;
  }
}

/* line 93, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_alimentos.scss */
.alimentos .menu__item:hover {
  box-shadow: 0px 0px 2px 1px #fff;
  color: #000;
  transition: .4s;
}

/* line 101, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_alimentos.scss */
.alimentos .arroz__box {
  padding: 3rem 0rem;
}

/* line 105, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_alimentos.scss */
.alimentos .arroz__titulo {
  font-family: "Marcellus SC", serif;
  text-align: center;
  margin-bottom: 1rem;
  font-size: 3rem;
  text-decoration: underline;
}

/* line 109, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_alimentos.scss */
.alimentos .arroz__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

/* line 117, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_alimentos.scss */
.alimentos .arroz__item {
  text-align: center;
  padding: 1rem;
  box-shadow: 2px 4px 10px #fff;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 6px;
  width: 300px;
}

/* line 121, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_alimentos.scss */
.alimentos .arroz__img {
  width: 180px;
}

/* line 125, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_alimentos.scss */
.alimentos .arroz__desc {
  font-family: "Marcellus SC", serif;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

/* line 131, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_alimentos.scss */
.alimentos .arroz__peso {
  font-family: "Marcellus SC", serif;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

/* line 137, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_alimentos.scss */
.alimentos .arroz__preco {
  font-family: "Thasadith", sans-serif;
  font-weight: bold;
  background-color: #042A8F;
  box-shadow: 2px 4px 10px #000;
  padding: 0.5rem;
  color: #fff;
  border-radius: 4px;
  font-size: 1.4rem;
}

/* line 142, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_alimentos.scss */
.alimentos .feijao__box {
  padding: 3rem 0rem;
}

/* line 146, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_alimentos.scss */
.alimentos .feijao__titulo {
  font-family: "Marcellus SC", serif;
  text-align: center;
  margin-bottom: 2rem;
  font-size: 3rem;
  text-decoration: underline;
}

/* line 154, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_alimentos.scss */
.alimentos .feijao__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

/* line 162, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_alimentos.scss */
.alimentos .feijao__item {
  text-align: center;
  padding: 1rem;
  box-shadow: 2px 4px 10px #fff;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 6px;
  width: 300px;
}

/* line 166, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_alimentos.scss */
.alimentos .feijao__img {
  width: 180px;
}

/* line 170, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_alimentos.scss */
.alimentos .feijao__desc {
  font-family: "Marcellus SC", serif;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

/* line 176, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_alimentos.scss */
.alimentos .feijao__peso {
  font-family: "Marcellus SC", serif;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

/* line 182, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_alimentos.scss */
.alimentos .feijao__preco {
  font-family: "Thasadith", sans-serif;
  font-weight: bold;
  background-color: #042A8F;
  box-shadow: 2px 4px 10px #000;
  padding: 0.5rem;
  color: #fff;
  border-radius: 4px;
  font-size: 1.4rem;
}

/* line 187, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_alimentos.scss */
.alimentos .biscoito__box {
  padding: 3rem 0rem;
}

/* line 191, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_alimentos.scss */
.alimentos .biscoito__titulo {
  font-family: "Marcellus SC", serif;
  text-align: center;
  margin-bottom: 2rem;
  font-size: 3rem;
  text-decoration: underline;
}

/* line 199, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_alimentos.scss */
.alimentos .biscoito__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

/* line 207, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_alimentos.scss */
.alimentos .biscoito__item {
  text-align: center;
  padding: 1rem;
  box-shadow: 2px 4px 10px #fff;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 6px;
  width: 300px;
}

/* line 211, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_alimentos.scss */
.alimentos .biscoito__img {
  width: 180px;
}

/* line 215, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_alimentos.scss */
.alimentos .biscoito__desc {
  font-family: "Marcellus SC", serif;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

/* line 221, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_alimentos.scss */
.alimentos .biscoito__preco {
  font-family: "Thasadith", sans-serif;
  font-weight: bold;
  background-color: #042A8F;
  box-shadow: 2px 4px 10px #000;
  padding: 0.5rem;
  color: #fff;
  border-radius: 4px;
  font-size: 1.4rem;
}

/* line 226, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_alimentos.scss */
.alimentos .frutas__box {
  padding: 3rem 0rem;
}

/* line 230, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_alimentos.scss */
.alimentos .frutas__titulo {
  font-family: "Marcellus SC", serif;
  text-align: center;
  margin-bottom: 2rem;
  font-size: 3rem;
  text-decoration: underline;
}

/* line 238, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_alimentos.scss */
.alimentos .frutas__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

/* line 246, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_alimentos.scss */
.alimentos .fruta__item {
  text-align: center;
  padding: 1rem;
  box-shadow: 2px 4px 10px #fff;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 6px;
  width: 300px;
}

/* line 250, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_alimentos.scss */
.alimentos .fruta__img {
  width: 180px;
}

/* line 254, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_alimentos.scss */
.alimentos .fruta__desc {
  font-family: "Marcellus SC", serif;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

/* line 260, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_alimentos.scss */
.alimentos .fruta__preco {
  font-family: "Thasadith", sans-serif;
  font-weight: bold;
  background-color: #042A8F;
  box-shadow: 2px 4px 10px #000;
  padding: 0.5rem;
  color: #fff;
  border-radius: 4px;
  font-size: 1.4rem;
}

/* line 265, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_alimentos.scss */
.alimentos .enlatados__box {
  padding: 3rem 0rem;
}

/* line 269, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_alimentos.scss */
.alimentos .enlatados__titulo {
  font-family: "Marcellus SC", serif;
  text-align: center;
  margin-bottom: 2rem;
  font-size: 3rem;
  text-decoration: underline;
}

/* line 277, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_alimentos.scss */
.alimentos .enlatados__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

/* line 285, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_alimentos.scss */
.alimentos .enlatados__item {
  text-align: center;
  padding: 1rem;
  box-shadow: 2px 4px 10px #fff;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 6px;
  width: 300px;
}

/* line 289, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_alimentos.scss */
.alimentos .enlatado__img {
  width: 180px;
}

/* line 293, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_alimentos.scss */
.alimentos .enlatado__desc {
  font-family: "Marcellus SC", serif;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

/* line 299, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_alimentos.scss */
.alimentos .enlatado__preco {
  font-family: "Thasadith", sans-serif;
  font-weight: bold;
  background-color: #042A8F;
  box-shadow: 2px 4px 10px #000;
  padding: 0.5rem;
  color: #fff;
  border-radius: 4px;
  font-size: 1.4rem;
}

/* line 305, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_alimentos.scss */
.alimentos .swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

/* line 311, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_alimentos.scss */
.alimentos .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

/* line 1, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_bebidas.scss */
.bebidas {
  background-image: url("../img/background-section.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /***** SESSÂO ÁGUA *****/
  /***** SESSÂO REFRIGERANTE *****/
  /***** SESSÂO CERVEJA *****/
  /***** SWIPER CONFIG *****/
}

/* line 7, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_bebidas.scss */
.bebidas .js-conteudo-bebidas {
  display: none;
}

/* line 11, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_bebidas.scss */
.bebidas .js-conteudo-bebidas.ativo {
  display: block;
  animation: show .5s forwards;
}

@keyframes show {
  from {
    opacity: 0;
    transform: translate3d(-50px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

/* line 28, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_bebidas.scss */
.bebidas .bebidas__titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  background-color: #042A8F;
  padding: 1rem;
}

@media (max-width: 480px) {
  /* line 28, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_bebidas.scss */
  .bebidas .bebidas__titulo {
    gap: 1rem;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  /* line 28, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_bebidas.scss */
  .bebidas .bebidas__titulo {
    gap: 1.4rem;
  }
}

/* line 40, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_bebidas.scss */
.bebidas .img__bebidas {
  width: 12.5rem;
}

@media (max-width: 480px) {
  /* line 40, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_bebidas.scss */
  .bebidas .img__bebidas {
    width: 8rem;
  }
}

/* line 48, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_bebidas.scss */
.bebidas .titulo {
  font-family: "Marcellus SC", serif;
  font-size: 4rem;
  color: #fff;
  text-align: center;
}

@media (max-width: 480px) {
  /* line 48, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_bebidas.scss */
  .bebidas .titulo {
    font-size: 2rem;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  /* line 48, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_bebidas.scss */
  .bebidas .titulo {
    font-size: 2.8rem;
  }
}

/* line 63, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_bebidas.scss */
.bebidas .menu__bebidas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  background-color: #042A8F;
  padding: 2rem 0rem;
}

@media (max-width: 480px) {
  /* line 63, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_bebidas.scss */
  .bebidas .menu__bebidas {
    gap: 1rem;
    padding: 2rem 0.5rem;
  }
}

/* line 77, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_bebidas.scss */
.bebidas .menu__item {
  color: #fff;
  font-family: "Marcellus SC", serif;
  font-size: 1.7rem;
  background-color: #C33C54;
  padding: .5rem;
  border-radius: 4px;
  box-shadow: 1px 1px 10px 1px #fff;
  cursor: pointer;
}

@media (max-width: 480px) {
  /* line 77, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_bebidas.scss */
  .bebidas .menu__item {
    font-size: 1.2rem;
  }
}

/* line 92, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_bebidas.scss */
.bebidas .menu__item:hover {
  box-shadow: 0px 0px 2px 1px #fff;
  color: #000;
  transition: .4s;
}

/* line 100, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_bebidas.scss */
.bebidas .agua__box {
  padding: 3rem 0rem;
}

/* line 104, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_bebidas.scss */
.bebidas .agua__titulo {
  font-family: "Marcellus SC", serif;
  text-align: center;
  margin-bottom: 1rem;
  font-size: 3rem;
  text-decoration: underline;
}

/* line 108, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_bebidas.scss */
.bebidas .agua__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

/* line 116, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_bebidas.scss */
.bebidas .agua__item {
  text-align: center;
  padding: 1rem;
  box-shadow: 2px 4px 10px #fff;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 6px;
  width: 300px;
}

/* line 120, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_bebidas.scss */
.bebidas .agua__img {
  width: 180px;
}

/* line 124, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_bebidas.scss */
.bebidas .agua__desc {
  font-family: "Marcellus SC", serif;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

/* line 130, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_bebidas.scss */
.bebidas .agua__peso {
  font-family: "Marcellus SC", serif;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

/* line 136, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_bebidas.scss */
.bebidas .agua__preco {
  font-family: "Thasadith", sans-serif;
  font-weight: bold;
  background-color: #042A8F;
  box-shadow: 2px 4px 10px #000;
  padding: 0.5rem;
  color: #fff;
  border-radius: 4px;
  font-size: 1.4rem;
}

/* line 141, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_bebidas.scss */
.bebidas .refri__box {
  padding: 3rem 0rem;
}

/* line 145, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_bebidas.scss */
.bebidas .refri__titulo {
  font-family: "Marcellus SC", serif;
  text-align: center;
  margin-bottom: 1rem;
  font-size: 3rem;
  text-decoration: underline;
}

/* line 149, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_bebidas.scss */
.bebidas .refri__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

/* line 157, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_bebidas.scss */
.bebidas .refri__item {
  text-align: center;
  padding: 1rem;
  box-shadow: 2px 4px 10px #fff;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 6px;
  width: 300px;
}

/* line 161, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_bebidas.scss */
.bebidas .refri__img {
  width: 180px;
}

/* line 165, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_bebidas.scss */
.bebidas .refri__desc {
  font-family: "Marcellus SC", serif;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

/* line 171, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_bebidas.scss */
.bebidas .refri__peso {
  font-family: "Marcellus SC", serif;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

/* line 177, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_bebidas.scss */
.bebidas .refri__preco {
  font-family: "Thasadith", sans-serif;
  font-weight: bold;
  background-color: #042A8F;
  box-shadow: 2px 4px 10px #000;
  padding: 0.5rem;
  color: #fff;
  border-radius: 4px;
  font-size: 1.4rem;
}

/* line 182, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_bebidas.scss */
.bebidas .cerveja__box {
  padding: 3rem 0rem;
}

/* line 186, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_bebidas.scss */
.bebidas .cerveja__titulo {
  font-family: "Marcellus SC", serif;
  text-align: center;
  margin-bottom: 1rem;
  font-size: 3rem;
  text-decoration: underline;
}

/* line 190, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_bebidas.scss */
.bebidas .cerveja__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

/* line 198, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_bebidas.scss */
.bebidas .cerveja__item {
  text-align: center;
  padding: 1rem;
  box-shadow: 2px 4px 10px #fff;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 6px;
  width: 300px;
}

/* line 202, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_bebidas.scss */
.bebidas .cerveja__img {
  width: 180px;
}

/* line 206, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_bebidas.scss */
.bebidas .cerveja__desc {
  font-family: "Marcellus SC", serif;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

/* line 212, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_bebidas.scss */
.bebidas .cerveja__peso {
  font-family: "Marcellus SC", serif;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

/* line 218, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_bebidas.scss */
.bebidas .cerveja__preco {
  font-family: "Thasadith", sans-serif;
  font-weight: bold;
  background-color: #042A8F;
  box-shadow: 2px 4px 10px #000;
  padding: 0.5rem;
  color: #fff;
  border-radius: 4px;
  font-size: 1.4rem;
}

/* line 225, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_bebidas.scss */
.bebidas .swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

/* line 231, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_bebidas.scss */
.bebidas .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

/* line 1, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_limpeza.scss */
.limpeza {
  background-image: url("../img/background-section.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /***** SESSÂO SABÃO *****/
  /***** SESSÂO LIMPEZA DE COZINHA *****/
  /***** SESSÂO LIMPEZA GERAL *****/
  /***** SWIPER CONFIG *****/
}

/* line 8, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_limpeza.scss */
.limpeza .js-conteudo-limpeza {
  display: none;
}

/* line 12, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_limpeza.scss */
.limpeza .js-conteudo-limpeza.ativo {
  display: block;
  animation: show .5s forwards;
}

@keyframes show {
  from {
    opacity: 0;
    transform: translate3d(-50px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

/* line 28, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_limpeza.scss */
.limpeza .limpeza__titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  background-color: #042A8F;
  padding: 1rem;
}

@media (max-width: 480px) {
  /* line 28, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_limpeza.scss */
  .limpeza .limpeza__titulo {
    gap: 1rem;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  /* line 28, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_limpeza.scss */
  .limpeza .limpeza__titulo {
    gap: 1.4rem;
  }
}

/* line 40, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_limpeza.scss */
.limpeza .img__limpeza {
  width: 12.5rem;
}

@media (max-width: 480px) {
  /* line 40, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_limpeza.scss */
  .limpeza .img__limpeza {
    width: 8rem;
  }
}

/* line 48, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_limpeza.scss */
.limpeza .titulo {
  font-family: "Marcellus SC", serif;
  font-size: 4rem;
  color: #fff;
  text-align: center;
}

@media (max-width: 480px) {
  /* line 48, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_limpeza.scss */
  .limpeza .titulo {
    font-size: 2rem;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  /* line 48, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_limpeza.scss */
  .limpeza .titulo {
    font-size: 2.8rem;
  }
}

/* line 63, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_limpeza.scss */
.limpeza .menu__limpeza {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  background-color: #042A8F;
  padding: 2rem 0rem;
}

@media (max-width: 480px) {
  /* line 63, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_limpeza.scss */
  .limpeza .menu__limpeza {
    gap: 1rem;
    padding: 2rem 0.5rem;
  }
}

/* line 77, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_limpeza.scss */
.limpeza .menu__item {
  color: #fff;
  font-family: "Marcellus SC", serif;
  font-size: 1.7rem;
  background-color: #C33C54;
  padding: .5rem;
  border-radius: 4px;
  box-shadow: 1px 1px 10px 1px #fff;
  cursor: pointer;
}

@media (max-width: 480px) {
  /* line 77, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_limpeza.scss */
  .limpeza .menu__item {
    font-size: 1.2rem;
  }
}

/* line 92, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_limpeza.scss */
.limpeza .menu__item:hover {
  box-shadow: 0px 0px 2px 1px #fff;
  color: #000;
  transition: .4s;
}

/* line 100, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_limpeza.scss */
.limpeza .sabao__box {
  padding: 3rem 0rem;
}

/* line 104, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_limpeza.scss */
.limpeza .sabao__titulo {
  font-family: "Marcellus SC", serif;
  text-align: center;
  margin-bottom: 1rem;
  font-size: 3rem;
  text-decoration: underline;
}

/* line 108, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_limpeza.scss */
.limpeza .sabao__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

/* line 116, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_limpeza.scss */
.limpeza .sabao__item {
  text-align: center;
  padding: 1rem;
  box-shadow: 2px 4px 10px #fff;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 6px;
  width: 300px;
}

/* line 120, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_limpeza.scss */
.limpeza .sabao__img {
  width: 180px;
}

/* line 124, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_limpeza.scss */
.limpeza .sabao__desc {
  font-family: "Marcellus SC", serif;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

/* line 130, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_limpeza.scss */
.limpeza .sabao__peso {
  font-family: "Marcellus SC", serif;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

/* line 136, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_limpeza.scss */
.limpeza .sabao__preco {
  font-family: "Thasadith", sans-serif;
  font-weight: bold;
  background-color: #042A8F;
  box-shadow: 2px 4px 10px #000;
  padding: 0.5rem;
  color: #fff;
  border-radius: 4px;
  font-size: 1.4rem;
}

/* line 141, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_limpeza.scss */
.limpeza .cozinha__box {
  padding: 3rem 0rem;
}

/* line 145, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_limpeza.scss */
.limpeza .cozinha__titulo {
  font-family: "Marcellus SC", serif;
  text-align: center;
  margin-bottom: 1rem;
  font-size: 3rem;
  text-decoration: underline;
}

/* line 149, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_limpeza.scss */
.limpeza .cozinha__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

/* line 157, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_limpeza.scss */
.limpeza .cozinha__item {
  text-align: center;
  padding: 1rem;
  box-shadow: 2px 4px 10px #fff;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 6px;
  width: 300px;
}

/* line 161, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_limpeza.scss */
.limpeza .cozinha__img {
  width: 180px;
}

/* line 165, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_limpeza.scss */
.limpeza .cozinha__desc {
  font-family: "Marcellus SC", serif;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

/* line 171, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_limpeza.scss */
.limpeza .cozinha__peso {
  font-family: "Marcellus SC", serif;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

/* line 177, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_limpeza.scss */
.limpeza .cozinha__preco {
  font-family: "Thasadith", sans-serif;
  font-weight: bold;
  background-color: #042A8F;
  box-shadow: 2px 4px 10px #000;
  padding: 0.5rem;
  color: #fff;
  border-radius: 4px;
  font-size: 1.4rem;
}

/* line 183, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_limpeza.scss */
.limpeza .limpeza-geral__box {
  padding: 3rem 0rem;
}

/* line 187, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_limpeza.scss */
.limpeza .limpeza-geral__titulo {
  font-family: "Marcellus SC", serif;
  text-align: center;
  margin-bottom: 1rem;
  font-size: 3rem;
  text-decoration: underline;
}

/* line 191, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_limpeza.scss */
.limpeza .limpeza-geral__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

/* line 199, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_limpeza.scss */
.limpeza .limpeza-geral__item {
  text-align: center;
  padding: 1rem;
  box-shadow: 2px 4px 10px #fff;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 6px;
  width: 300px;
}

/* line 203, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_limpeza.scss */
.limpeza .limpeza-geral__img {
  width: 180px;
}

/* line 207, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_limpeza.scss */
.limpeza .limpeza-geral__desc {
  font-family: "Marcellus SC", serif;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

/* line 213, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_limpeza.scss */
.limpeza .limpeza-geral__peso {
  font-family: "Marcellus SC", serif;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

/* line 219, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_limpeza.scss */
.limpeza .limpeza-geral__preco {
  font-family: "Thasadith", sans-serif;
  font-weight: bold;
  background-color: #042A8F;
  box-shadow: 2px 4px 10px #000;
  padding: 0.5rem;
  color: #fff;
  border-radius: 4px;
  font-size: 1.4rem;
}

/* line 233, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_limpeza.scss */
.limpeza .swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

/* line 239, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_limpeza.scss */
.limpeza .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

/* line 1, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_footer.scss */
.footer {
  background-color: #042A8F;
}

/* line 17, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_footer.scss */
.footer .footer__box {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

/* line 25, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_footer.scss */
.footer .footer__logo {
  width: 400px;
}

/* line 29, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_footer.scss */
.footer .footer__img {
  width: 360px;
  padding: 2rem 2rem;
}

/* line 34, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_footer.scss */
.footer .footer__titulo {
  font-family: "Marcellus SC", serif;
  color: #fff;
  text-align: center;
}

/* line 41, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_footer.scss */
.footer .footer__sociais {
  display: flex;
  justify-content: center;
  gap: .5rem;
  margin-top: 1rem;
}

/* line 48, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_footer.scss */
.footer .footer__icone {
  width: 40px;
}

/* line 52, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_footer.scss */
.footer .footer__end {
  background-color: #778DA9;
  padding: 1rem;
  text-align: center;
  margin: .4rem;
  border-radius: 4px;
  box-shadow: 4px 4px 8px 0px #fff;
}

/* line 60, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_footer.scss */
.footer .footer__end .footer__end__titulo {
  font-family: "Marcellus SC", serif;
  font-size: 2.4rem;
  padding-bottom: .8rem;
}

/* line 66, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_footer.scss */
.footer .footer__end .footer__rua,
.footer .footer__end .footer__numero,
.footer .footer__end .footer__bairro,
.footer .footer__end .footer__cidade {
  font-family: "Thasadith", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}

/* line 76, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_footer.scss */
.footer .footer__maps {
  padding: 2rem;
}

/* line 79, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_footer.scss */
.footer .footer__maps .maps {
  width: 300px;
  height: 400px;
}

/* line 85, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_footer.scss */
.footer .desenvolvedor {
  display: flex;
  justify-items: center;
  justify-content: center;
  gap: .5rem;
  border-top: 2px solid #fff;
}

/* line 93, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_footer.scss */
.footer .dev__ico {
  width: 36px;
}

/* line 97, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_footer.scss */
.footer .dev__titulo {
  font-family: "Gurajada", serif;
  font-size: 1.5rem;
}

/* line 109, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_footer.scss */
.footer .dev__name {
  color: #fff;
  text-decoration: underline;
}

/* line 113, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_footer.scss */
.footer .dev__name:hover {
  text-decoration: none;
  transition: all .6s;
}

@media (max-width: 480px) {
  /* line 109, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/supermercado/scss/_footer.scss */
  .footer .dev__name {
    color: #fff;
  }
}

/*# sourceMappingURL=main.css.map */