.alimentos {
    background-image: url("../img/background-section.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .js-conteudo-alimentos {
        display: none;
    }

    .js-conteudo-alimentos.ativo {
        display: block;
        animation: show .5s forwards;
    }

    @keyframes show {
        from {
            opacity: 0;
            transform: translate3d(-50px, 0, 0);
        } 
        to {
            opacity: 1;
            transform: translate3d(0, 0, 0)
        }
    }
    
        .alimentos__titulo {
            @include titulo-section;
        }

        .img__alimentos {
            width: 12.5rem;
        }

        .titulo {
            font-family: $fonte-titulo;
            font-size: 4rem;
            color: #fff;
            text-align: center;
        }

        .menu__alimentos {
            display: flex;
            justify-content: center;
            gap: 3rem;
            background-color: $cor-header;
            padding: 2rem 0rem;
        }

        .menu__item {
            color: #fff;
            font-family: $fonte-titulo;
            font-size: 1.5rem;
            background-color: $cor-section1;
            padding: .5rem;
            border-radius: 4px;
            box-shadow: 1px 1px 10px 1px #fff;
            cursor: pointer;

                &:hover {
                    box-shadow: 0px 0px 2px 1px #fff;
                    color: #000;
                    transition: .4s;
                }

                // &:hover  {

                // }
        }

        /***** SESSÂO ARROZ *****/
        .arroz__box {
            padding: 3rem 0rem;
        }

        .arroz__titulo {
            @include card-titulo;
        }

        .arroz__cards {
            display: flex;
            flex-wrap: wrap;
            gap: 2rem;
            justify-content: center;
            align-items: center;
        }

        .arroz__item {
            @include card-config;
        }

        .arroz__img {
            width: 180px;
        }

       .arroz__desc {
            font-family: $fonte-titulo;
            font-size: 1.2rem;
            margin-bottom: 0.5rem;
        }

        .arroz__peso {
            font-family: $fonte-titulo;
            font-size: 1.2rem;
            margin-bottom: 0.5rem;
        }

        .arroz__preco {
            @include card-preco;
        }

        .arroz__strong {
            font-size: 1.4rem;
        }

        /***** SESSÂO FEIJÃO *****/
        .feijao__box {
            padding: 3rem 0rem;
        }

        .feijao__titulo {
            font-family: $fonte-titulo;
            text-align: center;
            margin-bottom: 2rem;
            font-size: 3rem;
            text-decoration: underline;
        }
        
        .feijao__cards {
            display: flex;
            flex-wrap: wrap;
            gap: 2rem;
            justify-content: center;
            align-items: center;
        }

        .feijao__item {
            @include card-config;
        }

        .feijao__img {
            width: 180px;
        }

        .feijao__desc {
            font-family: $fonte-titulo;
            font-size: 1.2rem;
            margin-bottom: 0.5rem;
        }

        .feijao__peso {
            font-family: $fonte-titulo;
            font-size: 1.2rem;
            margin-bottom: 0.5rem;
        }

        .feijao__preco {
            @include card-preco;
        }

        .feijao__strong {
            font-size: 1.4rem;
        }

        /***** SESSÂO BISCOITOS *****/
        .biscoito__box {
            padding: 3rem 0rem;
        }

        .biscoito__titulo {
            font-family: $fonte-titulo;
            text-align: center;
            margin-bottom: 2rem;
            font-size: 3rem;
            text-decoration: underline;
        }

        .biscoito__cards {
            display: flex;
            flex-wrap: wrap;
            gap: 2rem;
            justify-content: center;
            align-items: center;
        }

        .biscoito__item {
            @include card-config;
        }

        .biscoito__img {
            width: 180px;
        }

        .biscoito__desc {
            font-family: $fonte-titulo;
            font-size: 1.2rem;
            margin-bottom: 0.5rem;
        }

        .biscoito__preco {
            @include card-preco;
        }

        .biscoito__strong {
            font-size: 1.4rem;
        }

        /***** SESSÂO FRUTAS *****/
        .frutas__box {
            padding: 3rem 0rem;
        }

        .frutas__titulo {
            font-family: $fonte-titulo;
            text-align: center;
            margin-bottom: 2rem;
            font-size: 3rem;
            text-decoration: underline;
        }

        .frutas__cards {
            display: flex;
            flex-wrap: wrap;
            gap: 2rem;
            justify-content: center;
            align-items: center;
        }

        .fruta__item {
            @include card-config;
        }

        .fruta__img {
            width: 180px;
        }

        .fruta__desc {
            font-family: $fonte-titulo;
            font-size: 1.2rem;
            margin-bottom: 0.5rem;
        }

        .fruta__preco {
            @include card-preco;
        }

        .fruta__strong {
            font-size: 1.4rem;
        }

        /***** SESSÂO ENLATADOS *****/
        .enlatados__box {
            padding: 3rem 0rem;
        }

        .enlatados__titulo {
            font-family: $fonte-titulo;
            text-align: center;
            margin-bottom: 2rem;
            font-size: 3rem;
            text-decoration: underline;
        }

        .enlatados__cards {
            display: flex;
            flex-wrap: wrap;
            gap: 2rem;
            justify-content: center;
            align-items: center;
        }

        .enlatados__item {
            @include card-config;
        }

        .enlatado__img {
            width: 180px;
        }

        .enlatado__desc {
            font-family: $fonte-titulo;
            font-size: 1.2rem;
            margin-bottom: 0.5rem;
        }

        .enlatado__preco {
            @include card-preco;
        }

        .enlatado__strong {
            font-size: 1.4rem;
        }








}