.footer {
    background-color: $cor-header;
    height: 80vh;

        .footer__img {
            width: 300px;
            background-color: chartreuse;
        }

        .footer__icone {
            width: 40px;
        }
}

