.footer {
    background-color: $cor-header;
    height: 70vh;

        .footer__box {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }

        .footer__logo {
            width: 400px;
        }

        .footer__img {
            width: 360px;
            padding: 2rem 2rem;
        }

        .footer__titulo {
            font-family: $fonte-titulo;
            color: #fff;
            text-align: center;
            
        }

        .footer__sociais {
            display: flex;
            justify-content: center;
            gap: .5rem;
            margin-top: 1rem;
        }

        .footer__icone {
            width: 40px;
        }

        .footer__end {
            background-color: $cor-section1;
            padding: 1rem;
            text-align: center;

                .footer__end__titulo {
                    font-family: $fonte-titulo;
                    font-size: 2rem;
                    padding-bottom: .8rem;
                }

                .footer__rua,
                .footer__numero,
                .footer__bairro,
                .footer__cidade {
                    font-family: $fonte-corpo;
                    font-weight: bold;
                    font-size: 1.5rem;
                }
        }
}

