.header {
    // height: 80vh;
    background-color: $cor-header;
    padding-bottom: 2rem;

        // @include mobile {
        //     height: 110vh;
        // }

        // @include tablet {
        //     height: 80vh;
        // }

        // @include desktop {
        //     height: 90vh;
        // }


        .logo {
            width: 400px;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            padding-top: 40px;

            @include mobile {
                width: 18rem;
                margin: 0 auto;
                display: flex;
                justify-content: center;
            }

            @include tablet {
                width: 24rem;
                margin: 0 auto;
                display: flex;
                justify-content: center;
                padding-bottom: 2rem;
            }

            @include desktop {
                padding-bottom: 2rem;
            }

        }

        

        .menu__mobile {
            // display: flex;
            // align-items: flex-start;
            // background-color: $cor-menu-mobile;
            // width: 50%;
            // padding: 2px 6px;
            // border-radius: 6px;
            // box-shadow: 1px 1px 4px 5px #fff;
            // margin-top: 1.5rem;

            @include mobile {
                // width: 20%;
                // padding-left: 1rem;
                // border-radius: 6px;
                // box-shadow: 1px 1px 4px 5px #fff;
                margin-top: 1.5rem;
            }
            
        }

        .icone__mobile {
            width: 60px;
            // margin: 0 auto;
            background-color: $cor-menu-mobile;
            

                @include mobile {
                    width: 50px;
                    // padding-bottom: 1rem;
                    background: rgba(0, 0, 0, 0.1);
                    background-color: $cor-menu-mobile;
                    // border-radius: 60%;
                    // display: block;
                    // margin: 0 auto;
                }
        }

        .nav {
            margin-top: 4rem;
    
                @include mobile {
                    background-color: $cor-menu-mobile;
                    width: 55%;
                    padding: .5rem;
                    border-radius: 6px;
                    box-shadow: 1px 1px 4px 5px #fff;
                    opacity: 1;
                    margin-top: 1rem;
                    animation: show 2s;
                }

                @keyframes show {
                    from {
                        opacity: 0;
                        left: -40px;
                      }
                    
                      to {
                        opacity: 1;
                        left: 0px;
                      }
                }
        }

        .nav.ativo {
            opacity: 0;
        }

        .nav__bloco {
            display: flex;
            flex-wrap: wrap;
            gap: 2rem;
            justify-content: center;

                @include mobile {
                    gap: .5rem;
                    display: grid;
                    grid-template-columns: 1fr;
                    padding-left: 1rem;
                }
        }

        

        .nav__link {
            display: flex;
            align-items: center;
            gap: .1rem;
            box-shadow: 0px 1px 10px 1px #fff;
            padding: .2rem .4rem;
            border-radius: 8px;

                &:hover {
                    background-color: #fff;
                    transition: all .8s; 
                }

                &:hover .nav__item {
                    color: #000;
                }

                &:hover .nav__icone {
                    color: #000;
                }

                @include mobile {
                    margin-bottom: .7rem;
                    width: 150px;
                    box-shadow: 0px 1px 10px 1px #000;
                }

        }

        .nav__icone {
            color: #fff;
            font-size: 1.3rem;

            @include mobile {
                font-size: 1.4rem;
                color: #000;
            }
        }

        .nav__item {
            color: #fff;
            font-family: $fonte-menu;
            font-size: 2rem;

            @include mobile {
                font-size: 1.4rem;
                color: #000;
            }
        }

        

}
