.header {

    background-color: $cor-header;
    padding-bottom: 2rem;

        // .logo__cabecalho {
        //     background-color: chocolate;
        // }

        .logo {
            width: 31.2rem;
            margin: 0 auto;
            display: flex;
            justify-content: center;
        }

        .nav__bloco {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
            justify-content: center;
        }

        .nav__link {
            display: flex;
            gap: .2rem;
        }

        .nav__icone {
            color: #fff;
        }

        .nav__item {
            color: #fff;
        }




}
