.limpeza {
    background-image: url("../img/background-section.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

        .limpeza__titulo {
            @include titulo-section;

            @include mobile {
                gap: 1rem;
            }

            @include tablet {
                gap: 1.4rem;
            }
        }

        .img__limpeza {
            width: 12.5rem;

            @include mobile {
                width: 8rem;
            }
        }

        .titulo {
            font-family: $fonte-titulo;
            font-size: 4rem;
            color: #fff;
            text-align: center;

                @include mobile {
                    font-size: 2rem;    
                }

                @include tablet {
                    font-size: 2.8rem;    
                }
        }

        .menu__limpeza {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 3rem;
            background-color: $cor-header;
            padding: 2rem 0rem;

                @include mobile {
                    gap: 1rem;
                    padding: 2rem 0.5rem;
                }
        }

        .menu__item {
            color: #fff;
            font-family: $fonte-titulo;
            font-size: 1.7rem;
            background-color: $cor-botoes;
            padding: .5rem;
            border-radius: 4px;
            box-shadow: 1px 1px 10px 1px #fff;
            cursor: pointer;

                @include mobile {
                    font-size: 1.2rem;
                    
                }

                &:hover {
                    box-shadow: 0px 0px 2px 1px #fff;
                    color: #000;
                    transition: .4s;
                } 
        }

         /***** SESSÂO SABÃO *****/
         .sabao__box {
            padding: 3rem 0rem;
         }

         .sabao__titulo {
            @include card-titulo;
         }

         .sabao__cards {
            display: flex;
            flex-wrap: wrap;
            gap: 2rem;
            justify-content: center;
            align-items: center;
         }

         .sabao__item {
            @include card-config;
         }

         .sabao__img {
             width: 180px;
         }

         .sabao__desc {
            font-family: $fonte-titulo;
            font-size: 1.2rem;
            margin-bottom: 0.5rem;
         }

         .sabao__peso {
            font-family: $fonte-titulo;
            font-size: 1.2rem;
            margin-bottom: 0.5rem;
         }

         .sabao__preco {
            @include card-preco;
         }

         /***** SESSÂO LIMPEZA DE COZINHA *****/
         .cozinha__box {
            padding: 3rem 0rem;
         }

         .cozinha__titulo {
            @include card-titulo;
         }

         .cozinha__cards {
            display: flex;
            flex-wrap: wrap;
            gap: 2rem;
            justify-content: center;
            align-items: center;
         }

         .cozinha__item {
            @include card-config;
         }

         .cozinha__img {
             width: 180px;
         }

         .cozinha__desc {
            font-family: $fonte-titulo;
            font-size: 1.2rem;
            margin-bottom: 0.5rem;
         }

         .cozinha__peso {
            font-family: $fonte-titulo;
            font-size: 1.2rem;
            margin-bottom: 0.5rem;
         }

         .cozinha__preco {
            @include card-preco;
         }













        /***** SWIPER CONFIG *****/
        .swiper {
            width: 100%;
            padding-top: 50px;
            padding-bottom: 50px;
          }
    
          .swiper-slide {
            background-position: center;
            background-size: cover;
            width: 300px;
            height: 300px;
          }
}