.promocao {
    background-image: url("../img/background-section.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 4rem;

        .promo__titulo {
            @include titulo-section;
        }

        .img__titulo {
            width: 12.5rem;
        }

        .titulo {
            color: #fff;
            font-size: 3rem;
        }

        .titulo {
            font-family: $fonte-titulo;
        }

        .card__itens {
            display: flex;
            flex-wrap: wrap;
            gap: 2rem;
            justify-content: center;
            align-items: center;
            margin-top: 3rem;
        }

        .card {
            @include card-config;
        }

        .card__img {
            width: 180px;
        }

        .card__desc {
            font-family: $fonte-titulo;
            font-size: 1.2rem;
            margin-bottom: 0.5rem;
        }

        .card__peso {
            font-family: $fonte-titulo;
            font-size: 1.2rem;
            margin-bottom: 0.5rem;
        }

        .card__preco {
            @include card-preco;
        }

        .preco__strong {
            font-size: 1.4rem;
        }
}