.slider__promo {
    width: 100%;
    background-color: $cor-section1;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    position: relative;
    
        .slider {
            position: absolute;
            padding: 1rem;
            display: none;
            height: 100vh;
        }

        .selected {
            display: block;
        }
}

