.slider__promo {
    height: 100vh;
    position: relative;
    background-image: url("../img/background-section.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

        @include mobile {
            height: 30vh
        }

        @include tablet {
            height: 60vh
        }

        @include desktop {
            height: 90vh
        }


        .slide {
            height: 100vh;
            padding: 1rem;
            position: absolute;
            opacity: 0;
            transition: opacity 800ms;

            @include mobile {
                height: 30vh;
                padding: .3rem;
            }

            @include tablet {
                height: 60vh;
            }

            @include desktop {
                height: 90vh;
            }
        }

        .selected {
            opacity: 1;
        }
}

